# This file is managed by adlawson/dotfiles
#
# Copyright (c) 2014 Andrew Lawson <http://adlawson.com>
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.

[core]
	editor = vim
[user]
	name = adlawson
	email = adlawson@gmail.com
[color]
	ui = true
[diff]
	noprefix = true
[alias]
    staged = diff --cached
