[submodule "vim/git/vim-plug@master"]
	path = vim/git/vim-plug@master
	url = https://github.com/junegunn/vim-plug.git
[submodule "nvim/git/vim-plug@master"]
	path = nvim/git/vim-plug@master
	url = https://github.com/junegunn/vim-plug.git
