[core]
	editor = vim
[user]
	name = adlawson
	email = adlawson@gmail.com
[color]
	ui = true
[diff]
	noprefix = true
[alias]
    changelog = "!f() { git log --pretty=format:'- *%s* %H' --reverse; }; f"
	keep = "!f() { git branch | grep -v "$1" | grep -v '*' | xargs git branch -D; }; f"
	purge = "!f() { git keep 'master\\|develop\\|release'; }; f"
	staged = diff --cached
