/.dotfiles/

.DS_Store
.Trash/

/Applications/
/Desktop/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Projects/
/Public/

/.CFUserTextEncoding
/.cache/
/.go/
/.ssh/

/.bash_history
/.lesshst
/.zcompdump
/.zprofile
/.zsh_history
/.zsh_sessions/

/.viminfo
